$main: #0f0f0f;
$secondary: rgb(95, 104, 119);
$text: rgba(255, 255, 255, 0.85);
$green: #1dd05d;
$gray: #f0f0f0;
$notebook: 1450px;
$m-01: #3c4359;
$m-02: #546c8c;
$m-03: #7ea1bf;
$m-04: #bacbd9;
$m-05: #bf80a9;
