body {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1450px;
  margin: auto;
  @media (max-width: 1450px) {
    max-width: 1050px;
    margin: auto;
  }

  @media (max-width: 992px) {
    margin: 0 30px;
  }
}

.change-background {
  background-color: $secondary;
  transition-duration: 0.4s;
}

#app {
  background-color: $gray;
  transition: all 250ms ease-in;
  * {
    color: $main;
  }
  &.dark {
    background-color: $main;

    * {
      color: $text;
    }
  }
}
