@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import "variables";
@import "fonts";
@import "terminal";
@import "switcher";
@import "footer";

body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  top: 10px;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;

  .logo {
    background-color: #b6c2d9;
    color: rgb(39, 41, 50);
    padding: 18px;
    display: inline-flex;
    border-radius: 50%;
    font-weight: 700;
  }
}

.container {
  max-width: 1450px;
  margin: auto;
  @media (max-width: 1450px) {
    max-width: 1050px;
  }
}

.change-background {
  background-color: $secondary;
  transition-duration: 0.4s;
}

#app {
  background-color: $main;
  transition: all 250ms ease-in;

  &.dark {
    background-color: $gray;

    * {
      color: $main !important;
    }

    .caret {
      background-color: $main !important;
    }
  }

  .introduction {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    margin: 0 50px;
    p {
      bottom: 0;
      position: absolute;
      align-self: center;
    }
  }

  [data-console-trigger] {
    cursor: pointer;
  }
}
